BACKEND_URL=https://inference.api.libertai.io
API_PUBLIC_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUE2ZFk1cUxsTThWdGp3MXB3MGswWAp5QlJDdUlMaXZZZU9tVTc2S3JGMWRUUmpIbEQ2U3ZCeVYrc1dVOEZ0OWlTOWlGWGhhVWtLWXlxdmV0TEhjMVJrCm05bktUbjJqQUdNeHM1UXl1NEdRWEdzL0dXd1Z2b0l0Rjl5MGV4MWZ2TG1sRnVGV0RqTFhWNlNRZ3Y0SEFtbFgKTFFrOG9KdmFBSUV6MENER3lnQ3BOTGpQS3hRTVlpSU1taHV2N2tIL1dKczlUNXFaUkJYYmVNNVF2YVhqcjRNYQpPblM1My80TFBpZTgzejBCWk13ZEFCNEI4NHFLZnVtMUxPT1Bva0QvWWwrSlNvSm5iZUhEcmtFZHN5TVBRdDNrCmx2aE9WVm0zeEdYdXVoZmVqQXZTTXFwSW53bnFmRFhQVmRheE1QWmNmZXdpdDlvdUo1ZEtyZWJTaGtQaTlFOC8KbHdJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
MODEL_CONFIG=/data/model.json
